<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You're in Page2</h1>
    <h2><%=q%></h2>
    <!-- ประกาศ q ไว้รอรับค่า query จากหลังบ้าน -->
</body>
</html>